*{
    margin: 0;
    box-sizing: border-box;
}

#btnAccendi {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

